@import '../../styles/variables/colors'
@import '../../styles/variables/typography'
@import '../../styles/mixins/responsive'

.wrapper
  margin: 0
  +bp(0, 'mobile')
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto 1fr
  +bp('mobile', 'tablet')
    display: flex

.logoWrapper
  flex: 1
  grid-area: 1 / 1 / 3 / 2
  background: $color-accent-grey

.navList
  margin: 0
  padding: 0 1rem
  list-style: none
  +bp('mobile')
    text-align: center
    padding: 1rem
  +bp('mobile', 'tablet')
    flex: 1
    padding: 1rem 0
  +bp('tablet')
    border-bottom: 1px solid $color-accent-grey
    padding: 1.5rem 1rem

+bp(0, 'mobile')
  .navList
    transition: max-height 0.3s linear
    max-height: 2rem
    overflow: hidden
    margin: 0 0 1rem
    &:nth-child(2) // after logo
      margin-top: 1rem
    &Open
      max-height: 20rem
  .navListClosed .navTitle
    position: relative
    cursor: pointer
    &:after,
    &:before
      content: ''
      display: block
      position: absolute
      right: 0
      top: 1rem
      height: 2px
      width: 1rem
      background: $color-accent-grey
    &:after
      transform: rotate(90deg)

.navTitle
  margin: 0 0 0.5rem
  +bp('desktop')
    font-size: calc(0.75rem + 1.2vw)

.navLink
  display: block
  +bp('tablet')
    padding: 0.25rem
  +bp('desktop')
    font-size: calc(0.5rem + 0.8vw)

.navLinkActive
  position: relative
  font-weight: $font-weight-heavy
  +bp('tablet')
    &:after
      content: ''
      display: block
      position: absolute
      top: 0.5rem
      right: -1rem
      width: 0
      height: 0
      border-style: solid
      border-width: 0.5rem 0.5rem 0.5rem 0
      border-color: transparent $color-accent-cream
  +bp('desktop')
    &:after
      top: calc(0.25rem + 0.4vw)

.slogan
  margin: 0
  padding: 2rem 2rem 0
  opacity: 0.75
  text-align: center
  font-size: 0.75rem
  +bp(0, 'tablet')
    display: none

.biidWrapper
  max-width: 16rem
  padding: 1rem 2rem
  margin: 0 auto
  text-align: center
  +bp(0, 'tablet')
    display: none
