@import '../../../styles/mixins/responsive'

.pressList,
.linkList
  margin: 0
  padding: 0
  list-style: none

.gallery
  grid-gap: 0
  margin: 0 0 1rem
  grid-template-columns: 1fr 1fr 1fr
  +bp('mobile')
    margin: 0 0 2rem
  +bp('tablet')
    grid-gap: 0
    margin: 0 2rem 2rem
  +bp('desktop')
    margin: 0 calc(1rem + 1.6vw) calc(1rem + 1.6vw)
    grid-template-columns: 1fr 1fr 1fr
