@import '../../styles/mixins/responsive'
@import '../../styles/variables/colors'

.pageWrapper
  max-width: 1000px
  padding: 0
  margin: 0 auto
  +bp('mobile')
    padding: 0 1rem
  +bp('tablet')
    display: flex

.navigation
  +bp('tablet')
    width: 25%
    border-style: solid
    border-width: 0 0 1px 1px
    border-color: $color-accent-grey

.mainWrapper
  background: $color-accent-cream
  +bp('tablet')
    width: 75%

.contentWrapper
  padding: 1rem
  +bp('mobile')
    padding: 2rem

.logo
  +bp('tablet')
    margin-left: -1px
    width: calc(100% + 1px)
