@import '../../styles/mixins/responsive'
@import '../../styles/variables/colors'

.pageWrapper
  padding: 0
  margin: 0
  +bp('tablet')
    display: flex
    align-items: flex-start

.navigation
  +bp('tablet')
    width: 25%

.contentWrapper
  background: $color-accent-cream
  +bp('tablet')
    width: 75%
